/obj/*
/shuffled_images/*
/images/*

/.ipynb_checkpoints/

/yolov4-tiny/obj.zip

/bkp/

*.weights
unique_image/*
yolo_custom_dataset
label_studio_export

yolov4-tiny/test.txt

yolov4-tiny/train.txt
recordings
